.btn-google {
    color: #fff;
    background-color: #EA4335;
    border-color: #EA4335;
    -webkit-box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2) !important;
    box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2) !important;
    border-radius: .25rem;
}

.btn-google:hover {
    color: #fff;
    background-color: #d7322c;
    border-color: #d7322c;
}

.btn-google:focus,
.btn-google.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
}

.btn-google:disabled,
.btn-google.disabled {
    color: #fff;
    background-color: #EA4335;
    border-color: #EA4335;
}

.btn-google:not(:disabled):not(.disabled).active,
.btn-google:not(:disabled):not(.disabled):active,
.show>.btn-google.dropdown-toggle {
    color: #fff;
    background-color: #d7322c;
    border-color: #d7322c;
}

.btn-google:not(:disabled):not(.disabled).active:focus,
.btn-google:not(:disabled):not(.disabled):active:focus,
.show>.btn-google.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
}

.btn-twitter {
    color: #fff;
    background-color: #1DA1F2;
    border-color: #fff;
    -webkit-box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2) !important;
    box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2) !important;
    border-radius: .25rem;
}

.btn-twitter:hover {
    color: #fff;
    background-color: #0d95e8;
    border-color: #e6e6e6;
}

.btn-twitter:focus,
.btn-twitter.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
}

.btn-twitter:disabled,
.btn-twitter.disabled {
    color: #fff;
    background-color: #1DA1F2;
    border-color: #fff;
}

.btn-twitter:not(:disabled):not(.disabled).active,
.btn-twitter:not(:disabled):not(.disabled):active,
.show>.btn-twitter.dropdown-toggle {
    color: #fff;
    background-color: #0d95e8;
    border-color: #dfdfdf;
}

.btn-twitter:not(:disabled):not(.disabled).active:focus,
.btn-twitter:not(:disabled):not(.disabled):active:focus,
.show>.btn-twitter.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
}

.btn-github {
    color: #fff;
    background-color: #181717;
    border-color: #fff;
    -webkit-box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2) !important;
    box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2) !important;
    border-radius: .25rem;
}

.btn-github:hover {
    color: #fff;
    background-color: #333;
    border-color: #e6e6e6;
}

.btn-github:focus,
.btn-github.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
}

.btn-github:disabled,
.btn-github.disabled {
    color: #fff;
    background-color: #181717;
    border-color: #fff;
}

.btn-github:not(:disabled):not(.disabled).active,
.btn-github:not(:disabled):not(.disabled):active,
.show>.btn-github.dropdown-toggle {
    color: #fff;
    background-color: #333;
    border-color: #dfdfdf;
}

.btn-github:not(:disabled):not(.disabled).active:focus,
.btn-github:not(:disabled):not(.disabled):active:focus,
.show>.btn-github.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
}