.btn-google {
    color: #fff;
    background-color: #EA4335;
    border-color: #EA4335;
    -webkit-box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2) !important;
    box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2) !important;
    border-radius: .25rem;
}

.btn-google:hover {
    color: #fff;
    background-color: #d7322c;
    border-color: #d7322c;
}

.btn-google:focus,
.btn-google.focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
}

.btn-google:disabled,
.btn-google.disabled {
    color: #fff;
    background-color: #EA4335;
    border-color: #EA4335;
}

.btn-google:not(:disabled):not(.disabled).active,
.btn-google:not(:disabled):not(.disabled):active,
.show>.btn-google.dropdown-toggle {
    color: #fff;
    background-color: #d7322c;
    border-color: #d7322c;
}

.btn-google:not(:disabled):not(.disabled).active:focus,
.btn-google:not(:disabled):not(.disabled):active:focus,
.show>.btn-google.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .5);
}